body {
    margin: 0;
    background-color: #F2F5F7;
    /* background-color: black; */
    overflow-x: hidden;
}

.homeContent {
    display: inline-block;
    position: absolute;
    /* border:4px solid red; */
    top:15%;
    left: 18%;
}

.projectTitle:hover {
    cursor: default;
}

.header {
    color: white;
    display: inline-block;
    height: 55px;
    margin: auto;
    width: 60%;
    position: absolute;
    left: 22%;
    top: 1%;
    margin-top: 20px;
    background-color: white;
    border-radius: 3px;
    box-shadow:  2px 5px 6px #acaaaa;
    /* border:  3px solid rgb(96, 255, 167);  */
}

.bookImg {
    width: 100px; height: 150px;
    border-radius: 5px;
    box-shadow:  0px 6px 8px #c4c0c0;
    margin: 6px;
    position: relative;
    top: -30px;
}

h2 {
    margin-left: 10px;
    text-align: center;
}

.books:hover{
    box-shadow:  0px 8px 9px #c4c0c0;
    cursor: default;
}

h3 {
    margin: 0px;
}

.books {
    margin: 10px;
    /* border: 3px solid green; */
    display: inline-block;
    margin-top: 30px;
    box-shadow:  0px 4px 8px #c4c0c0;
    width: 375px;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    /* margin-left: 130px; */
}


.subHeader {
    margin-left: 30px;

}

.book {
    /* border: 3px solid red; */
    display: inline-block;
    margin: 5px;
    height: 100%;
}

.bookInfo {
    margin: 4px;
    /* border: 3px solid rgb(0, 248, 124); */
    display: inline-block;
    /* float: right; */
    position: relative;
    
}

.bookName, .authorName, .rating, .voters, .ratingV, .bookDescription {
    margin: 0;
    position: relative;
    top: -9px;
}

.bookName {
    position: relative;
    top: -10px;
    text-decoration: none;
    color: #3a9efd;
}

.sideBar {
    background-color: #ECF2FF;
    width: 16%;
    float: left;
    height: 100%;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 20%);
}
.projectTitle:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.sideBar .subHeader >p:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.input {
    background-color: rgba(179, 179, 179, 21%);
    outline: none;
    border: none;
    width: 25%;
    height: 37px;
    border-radius: 19px;
    margin-top: 7px;
    margin-left: 10PX;
    font-size: medium;
    padding-left: 29px;
}

.ratingV {
    display: inline-block;
    /* border: 3px solid red; */
}

.star{
    height: 15px;
    width: 15px;
}

.voters {
    display: inline-block;
    font-size: 14px;
    padding-left: 10px;
    font-weight: bold;
    position: relative;
    top: -3px;
}

.bookDescription {
    margin: 2px;
    width: 241px;
    max-width: 241px;
    height: 70px;
    max-height: 70px;
}

.searchButton{
    /* border:1px solid red; */
    height: 35px;
    width: 8%;
    font-size: 15px;
    border-radius: 40px;
    outline:none;
    border:none;
    background-color: #ECF2FF;
    position: relative;
    top: -5%;
    transition: transform .1s;
}




.searchButton:hover {
box-shadow:  0px 8px 9px #e0dede;
cursor: pointer;
transform: scale(1.022);
}





/* Home */
.home {

    margin-top: 30px;
    margin-left: 25px;


}






.profile-button {
    display: inline-block;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow:  2px 5px 6px #acaaaa;
}

.profile-div {
    /* border: 3px solid greenyellow; */
    display: inline-block;
    float: right;
    margin-right: 14%;
    margin-top: 2%;
    cursor: pointer;
}

.profile-button:hover{    
    transform: scale(1.08);
    box-shadow:  0px 9px 6px #868686;
}



